---
layout: default
title: 白山云-国内首家云链服务提供商
---

{% include navbar-home.html %}
<div id="carousel-banner" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-banner" data-slide-to="1"></li>
        <li data-target="#carousel-banner" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="banner-img" src="{{ site.baseurl }}/public/image/index/banner-1.png">
            <div class="carousel-caption banner-1">
              <div class="banner-1-title">国内首家云链服务提供商</div>
              <div class="banner-1-info">用技术的力量突破你的渴望</div>
            </div>
        </div>
        <div class="item">
            <img class="banner-img" src="{{ site.baseurl }}/public/image/index/banner-2.png">
            <div class="carousel-caption banner-2">
                <div class="banner-2-title">服务数据全生命周期</div>
                <div class="banner-2-info">用技术的力量突破你的渴望</div>
                <div class="video-triger" id="videoTrigger"><img class="img-center" src="{{ site.baseurl }}/public/image/index/videoPlay.png"></div>
            </div>
        </div>
        <div class="item">
            <img class="banner-img" src="{{ site.baseurl }}/public/image/index/banner-3.png">
            <div class="carousel-caption banner-3">
                <div class="banner-3-info">打破数据孤岛</div>
                <div class="banner-3-info">重构数据价值</div>
                <a href="{{ site.baseurl }}{% link tech/fengchao.html %}" class="banner-3-more">了解更多</a>
            </div>
        </div>
    </div>
</div>
<div class="index-products container">
    <div class="col-lg-6 ">
        <a href="{{ site.baseurl }}{% link tech/index.html %}">
            <div class="index-product index-product-cdn">
                <img class="index-product-img" src="{{ site.baseurl }}/public/image/index/test.png">
                <div class="index-product-title">云分发</div>
                <div class="index-product-info">乐高式松耦合架构，全透明定制化服务</div>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="{{ site.baseurl }}{% link tech/fengchao.html %}">
            <div class="index-product index-product-fengchao">
                <img class="index-product-img" src="{{ site.baseurl }}/public/image/index/test.png">
                <div class="index-product-title">数聚蜂巢</div>
                <div class="index-product-info">打破数据孤岛，重构数据价值</div>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="{{ site.baseurl }}{% link tech/atd.html %}">
            <div class="index-product index-product-atd">
                <img class="index-product-img" src="{{ site.baseurl }}/public/image/index/test.png">
                <div class="index-product-title">ATD</div>
                <div class="index-product-info">WEB深度威胁识别，AI安全突破式应用</div>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="{{ site.baseurl }}{% link tech/cwn.html %}">
            <div class="index-product index-product-cwn">
                <img class="index-product-img" src="{{ site.baseurl }}/public/image/index/test.png">
                <div class="index-product-title">云存储</div>
                <div class="index-product-info">倡导冷热分级存储，GB级文件高速传输</div>
            </div>
        </a>
    </div>
</div>
<div id="carousel-solution" class="carousel slide carousel-solution" data-ride="carousel">
    <h1 class="index-solutions-title">解决方案</h1>
    <div class="index-solutions-info">洞悉行业痛点，技术驱动智能时代</div>
    <div class="carousel-inner" role="listbox">
        <div class="item active index-solutions">
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/corporate-digitization.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-corporate-digitization.png" alt="...">
                <div>企业数字化转型</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/new-government-affairs.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-new-government-affairs.png" alt="...">
                <div>新型政务数据共享交换</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/internet-banking.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-internet-banking.png" alt="...">
                <div>互联网金融安全</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/aviation-safety.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-aviation-safety.png" alt="...">
                <div>航空安全</div>
            </a>
        </div>
        <div class="item index-solutions">
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/game-safety.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-game-safety.png" alt="...">
                <div>游戏安全</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/information-security.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-information-security.png" alt="...">
                <div>资讯信息安全</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/government-security.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-government-security.png" alt="...">
                <div>政府安全</div>
            </a>
            <a class="index-solution col-xs-6 col-sm-3" href="{{ site.baseurl}}{% link solution/online-education.html %}">
                <img src="{{ site.baseurl }}/public/image/index/solution-online-education.png" alt="...">
                <div>在线教育</div>
            </a>
        </div>
    </div>
</div>
<div class="click-num">
    白山云科技每日服务最终用户点击数 14000,000,000,000 条
</div>
<div class="container customers">
    <h1>典型客户</h1>
    {% assign cus=site.data.customers %}
    {% for cu in cus %}
    <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="customers-box">
            <img src="{{ site.baseurl }}/public/image/index/{{cu.fileName}}" alt="" class="img-center">
        </div>
    </div>
    {% endfor %}
</div>
<div class="register">
    <h2>了解更多</h2>
    <form class="register-form">
        <div class="form-group col-sm-6">
            <label for="name">姓名：</label>
            <input class="form-control" id="name">
        </div>
        <div class="form-group col-sm-6">
            <label for="email">邮箱：</label>
            <input class="form-control" id="email">
        </div>
        <div class="form-group col-sm-6">
            <label for="telephone">电话：</label>
            <input class="form-control" id="telephone">
        </div>
        <div class="form-group col-sm-6">
            <label for="company">公司名称：</label>
            <input class="form-control" id="company">
        </div>
        <div class="form-group col-sm-6">
            <label for="department">所在部门：</label>
            <input class="form-control" id="department">
        </div>
        <div class="form-group col-sm-6">
            <label for="position">职位：</label>
            <input class="form-control" id="position">
        </div>
        <div class="register-sumbit">
            <button type="submit" class="btn btn-primary register-sumbit-button">提交</button>
        </div>
    </form>
</div>
<div class="certify">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-1.png">
            <p>可信云服务认证</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-2.png">
            <p>CDN经营许可证</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-3.png">
            <p>公安部信息系统安全等级保护</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-4.png">
            <p>质量管理体系认证 ISO9001</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-5.png">
            <p>信息安全管理体系认证 ISO27001</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 certify-item">
            <img src="{{ site.baseurl }}/public/image/index/qualify-6.png">
            <p>信息技术服务管理体系认证 ISO20000</p>
        </div>
    </div>
</div>
<div class="clean"></div>

