---
layout: default
title: 航空安全
---

{% include navbar.html %}

<div class="solution-item-banner hangkonganquan-banner">
    <div class="solution-item-banner-info">
        <h1>航空安全</h1>
        <p>多引擎协同防御，合力保障数据安全。</p>
    </div>
</div>
<div class="solution-item-introduction">
    <h2>方案简介</h2>
    <p>航旅业务面临较多的业务风险，如不能对业务风险进行有效控制，会影响业务正常开展，增加经营成本。白山ATD能有效帮助航空行业识别及阻断业务风险，提升业务的健康性，减少第三方接口的非法调用，降低企业经营成本。</p>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <div class="pain-points container">
        <div class="col-sm-6 "><div>机票被爬取</div></div>
        <div class="col-sm-6"><div>第三方APP非法调用各航司积分查询接口</div></div>
        <div class="col-sm-6"><div>恶意占座</div></div>
        <div class="col-sm-6"><div>服务器资源被消耗</div></div>
    </div>
</div>
<div class="solution-item-advantage">
    <h2>方案优势</h2>
    <p>利用多引擎多算法快速锁定攻击来源。</p>
    <p>无埋点，无需修改代码，轻量接入。</p>
    <p>自动判别真人概率/出口概率。</p>
    <p>动态数据全局展现。</p>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-aviation-safety.png">
</div>
<div class="solution-item-applicable">
    <h2>客户收益</h2>
    <div>无需人工制定策略，无监督算法比imperva识别更多的爬虫，效果提升40%。</div>
    <div>智能识别非法调用行为，堵住第三方APP非法调用途径，一定程度挽回流失客户。</div>
    <div>及时发现由于人为原因引发的大并发请求，感知用户请求流量的异常波动，降低航司损失。</div>
</div>

{% include learn-more.html %}

<div class="clean"></div>