---
layout: default
title: 游戏安全
---

{% include navbar.html %}

<div class="solution-item-banner youxihangye-banner">
    <div class="solution-item-banner-info">
        <h1>游戏安全</h1>
        <p>ATD助力游戏业务安全高效稳定运行。</p>
    </div>
</div>
<div class="solution-item-introduction">
    <h2>方案简介</h2>
    <p>白山ATD为游戏行业客户提供全面、专业的业务安全服务，帮助客户抵御撞库、CC攻击等，帮助客户挽回因受攻击造成服务不稳定而流失的玩家，保障客户业务安全稳定运行。</p>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <div class="pain-points container">
        <div class="col-sm-6 "><div>频繁遭到玩家投诉</div></div>
        <div class="col-sm-6"><div>游戏推广效果差</div></div>
        <div class="col-sm-6"><div>游戏玩家流失</div></div>
        <div class="col-sm-6"><div>服务器资源被消耗</div></div>
    </div>
</div>
<div class="solution-item-advantage">
    <h2>方案优势</h2>
    <p>实时流式架构，无埋点无需修改代码，零配置接入。</p>
    <p>三大机器学习引擎，无需人工介入即可准确分析。</p>
    <p>全球IP信用数据库，精准来源锁定</p>
    <p>多终端适配，动态数据全局展现</p>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-game-safety.png">
</div>
<div class="solution-item-applicable">
    <h2>客户收益</h2>
    <div>实现游戏登陆接口100%保护。</div>
    <div>投诉同期下降80%。</div>
    <div>保证业务正常稳定提供服务。</div>
    <div>挽回了15%已流失的客户。</div>
    <div>游戏推广吸纳新玩家同期增长57%。</div>
</div>

{% include learn-more.html %}

<div class="clean"></div>