---
layout: default
title: 政府安全
---

{% include navbar.html %}

<div class="solution-item-banner zhengfuyewu-banner">
    <div class="solution-item-banner-info">
        <h1>政府安全</h1>
        <p>白山ATD协助政府捍卫数据隐私，保障业务稳定安全</p>
    </div>
</div>
<div class="solution-item-introduction">
    <h2>方案简介</h2>
    <p>基于合规与安全的白山ATD系统，标配识别多项攻击威胁能力，对接简单，满足政务应用系统的业务安全防御需求，为此提供一个合规、安全、稳定、可靠的系统，协助政府保护数据隐私，提升网站公信力。</p>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <div class="pain-points container">
        <div class="col-sm-6 "><div>上网慢用户投诉</div></div>
        <div class="col-sm-6"><div>数据泄露被追责</div></div>
        <div class="col-sm-6"><div>访问量统计不准</div></div>
        <div class="col-sm-6"><div>消耗大量资源</div></div>
    </div>
</div>
<div class="solution-item-advantage">
    <h2>方案优势</h2>
    <div class="solution-item-advantage-div">
        <p>实时/深度/学习引擎，全方位识别深度/隐形威胁。</p>
        <p>白山独有IP信用等级库，对算法识别结果进行二次验证提高准确率。</p>
        <p>实时流式架构，旁路部署，毫秒级分析。</p>
        <p>多维度/多颗粒度大屏展现。</p>
    </div>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-government-security.png">
</div>
<div class="solution-item-applicable">
    <h2>客户收益</h2>
    <div>保护了政府公开公示的数据安全。</div>
    <div>防止了阻塞和瘫痪性的恶意攻击，保障业务网站健康运行。</div>
    <div>收到客户投诉同期下降76%。</div>
    <div>运维人员所收短信报警数量由70%降至15%。</div>
</div>

{% include learn-more.html %}

<div class="clean"></div>