---
layout: default
title: 解决方案
---

{% include navbar.html %}
<div class="solution-banner">
    <div class="solution-banner-info">
        <h1>解决方案</h1>
        <p>针对不同的业务需求和应用场景，提供专业的定制化解决方案。</p>
    </div>
</div>
<div class="solution-content-items container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/corporate-digitization.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-corporate-digitization.png"><span>企业数字化转型</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/new-government-affairs.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-new-government-affairs.png"><span>新型政务数据共享交换</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/internet-banking.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-internet-banking.png"><span>互联网金融安全</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/aviation-safety.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-aviation-safety.png"><span>航空安全</span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/game-safety.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-game-safety.png"><span>游戏安全</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/information-security.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-information-security.png"><span>资讯信息安全</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/government-security.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-government-security.png"><span>政府安全</span></a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ site.baseurl}}{% link solution/online-education.html %}" class="solution-content-item"><img src="{{ site.baseurl }}/public/image/solution/solution-online-education.png"><span>在线教育</span></a>
        </div>
    </div>
</div>

{% include learn-more.html %}

<div class="clean"></div>