---
layout: default
title: 互联网金融安全
---

{% include navbar.html %}

<div class="solution-item-banner hulianwangjinrong-banner">
    <div class="solution-item-banner-info">
        <h1>互联网金融安全</h1>
        <p>ATD助力互金行业保障业务稳定、持续在线</p>
    </div>
</div>
<div class="solution-item-introduction">
    <h2>方案简介</h2>
    <p>白山ATD通过对用户访问行为日志进行实时分析，基于人工智能技术及大数据，为互金行业提供刷单类攻击、账号类攻击、爬虫等一站式安全解决方案，并针对安全事件进行追根溯源，有效提升业务安全。</p>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <div class="pain-points container">
        <div class="col-sm-6 "><div>虚假刷单/刷赞</div></div>
        <div class="col-sm-6"><div>恶意获取商品信息</div></div>
        <div class="col-sm-6"><div>批量登录</div></div>
        <div class="col-sm-6"><div>薅羊毛</div></div>
        <div class="col-sm-6"><div>垃圾注册</div></div>
    </div>
</div>
<div class="solution-item-advantage">
    <h2>方案优势</h2>
    <div class="solution-item-advantage-div">
        <p>流式大数据平台，毫秒级分析。</p>
        <p>针对行为无监督学习，无定制“策略”即可准确识别。</p>
        <p>无埋点运行，零部署成本。</p>
        <p>全球威胁情报中心，自含全球IP信用等级库。</p>
        <p>威胁可视化展现，完整大屏投影。</p>
    </div>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-internet-banking.png">
</div>
<div class="solution-item-applicable">
    <h2>客户收益</h2>
    <div>挽回每天约3.5万元的经济损失。</div>
    <div>协助降低20%的运营成本。</div>
    <div>减轻运维50%的工作量。</div>
    <div>降低接口压力35%。</div>
</div>

{% include learn-more.html %}

<div class="clean"></div>