---
layout: default
title: 新型政务数据共享交换
---

{% include navbar.html %}

<div class="solution-item-banner xinxingzhengwu-banner">
    <div class="solution-item-banner-info">
        <h1>新型政务数据共享交换</h1>
        <p>“一站式”汇聚政务数据，打通系统孤岛，挖掘应用价值</p>
    </div>
</div>
<div class="solution-item-introduction">
    <h2>方案简介</h2>
    <p>白山新型政务数据共享交换解决方案是基于数聚蜂巢平台，融合API经济思维、云计算、大数据、特征工程等先进技术，为政府行业提供数据采集、加工、共享、开放的“一站式”服务。</p>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <p>针对目前政府行业信息系统孤立、数据分散的现状，以及建立各种政务数据共享交换平台、“互联网+政务服务“平台和应用的要求，通过数据采集、加工、共享、开放等功能，实现跨系统、跨部门、跨层级、跨地区的数据共享和开放。</p>
</div>
<div class="solution-item-advantage solution-item-advantage-special">
    <h2>方案优势</h2>
    <div class="solution-item-advantage-title">
        <p>通过分布式集群的架构，保障政务数据共享交换的高性能、高可靠。</p>
        <p>通过API驱动的数据交换，实现平台的易用性、安全性。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>基于接口智能发现技术，轻松连接 开放无碍</h4>
        <p>数聚蜂巢是一套支撑应用、数据、IoT 、连接、互操作和孤岛系统集成的平台。数聚蜂巢平台基于接口智能发现技术，无需源系统开发厂商协助，能够按需为各类型系统，智能分析重建数据API和功能交互API，并为API提供运行 及安全防护。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>机器学习标签化系统+内置最新国标映射算法</h4>
        <p>传统目录梳理采用人工填表或人工系统填写的方式进行字段梳理，工作量大、 操作复杂、准确率低。白山数聚蜂巢目录梳理平台，基于机器学习标签化引擎，内置最新国标算法，自动映射，多快好省的完成目录梳理工作。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>API驱动数据交换，大幅降低数据共享成本</h4>
        <p>传统方式的数据交换与目录系统之间是分离的，需要用户自行开发对应API，带来额外开发成本及复杂的关联逻辑，使数据使用成本居高不下。白山新型政务数据共享交换平台，以RESTful API为载体，融合数据库、目录、API、 共享、智能一体化设计，自动化生成对应API，极大降低了数据使用成本。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>领先的数据共享模式，支持数据“汇聚式” 和“联通式”共享。</h4>
        <p>“汇聚式”数据场景:部门A、部门B同时把数据汇聚到数据中心，从数据中心进 行数据共享(数据搬家模式)。 “联通式”数据场景:部门A需要调用部门B的受保护数据，A无法接触到B的受 保护数据而是通过B提供的API获取数据(数据不搬家模式)。</p>
    </div>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-new-government-affairs.png">
</div>
<div class="solution-item-applicable">
    <h2>适用场景</h2>
    <div>国发[2016] 55号 《政务信息资源共享管理办法》，明确要求各省、市需建立各级共享交换节点，通过各交换节点进行各级政府的数据共享交换。</div>
    <div>国办发[2017] 39号 《政务信息系统整合共享实施方案》，明确加快部门内部信息系统整合共享;推进接入统一数据共享交换平台，加快公共数据开放网站建设; 推进全国政务信息共享网站建设;开展政务信息资源目录编制;加快构建政务信 息共享标准体系。</div>
</div>

{% include learn-more.html %}

<div class="clean"></div>