---
layout: default
title: 在线教育
---

{% include navbar.html %}

<div class="solution-item-banner zaixianjiaoyu-banner">
    <div class="solution-item-banner-info">
        <h1>在线教育</h1>
        <p>基于丰富的全球化资源以及对端业务的精准把控，快速搭建多场景在线课堂，激发师生真实课堂感受，降低机构运营成本</p>
    </div>
</div>
<div class="solution-item-pain-points">
    <h2>行业痛点</h2>
    <div class="pain-points container pain-points-online-education">
        <div>
            <h4>规模扩展</h4>
            <p>全球化布局中的海外和跨地域传输限制</p>
        </div>
        <div>
            <h4>提升体验</h4>
            <p>教学培训体验是教学口碑的重要组成部分，对服务的性能和人性化功能依赖大</p>
        </div>
        <div>
            <h4>视频安全</h4>
            <p>付费教学资源被盗用，文件包被劫持，造成内容方经济损失</p>
        </div>
        <div>
            <h4>推广引流</h4>
            <p>用服务质量提升品牌影响力，从而为平台带来更大流量</p>
        </div>
        <div>
            <h4>成本降低</h4>
            <p>教学培训场地、直播资源采购和维护、优质师资的依赖性大</p>
        </div>
        <div>
            <h4>业务多样化</h4>
            <p>教培场景的复杂化造成教培场景多样化，从而造成线上业务场景多样化</p>
        </div>
    </div>
</div>
<div class="solution-item-advantage">
    <h2>方案优势</h2>
    <div class="solution-item-advantage-info">
        <h4>全平台支持</h4>
        <p>PC & 移动端均可使用，为第三方平台提供支持。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>移动端文档交互支持</h4>
        <p>提供移动端视频+文档交互的教学平台。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>本地+云端录制</h4>
        <p>平台提供两种录制功能，可生成直播录制视频及云端生成回放链接。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>更多路的连麦互动</h4>
        <p>支持10路以上的视频互动功能，满足小组讨论和视频会议需求。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>海量并发</h4>
        <p>单一直播课堂业务能力可轻松支持10万人同时在线观看。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>首屏快延时地</h4>
        <p>基于UDP的私有协议的链路优化技术可将端到端延时降低到200毫秒以内；可靠性高，实时互动体验出色。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>多码率可选</h4>
        <p>可根据终端和网络情况可选择多种码率，保证直播稳定流畅。</p>
    </div>
    <div class="solution-item-advantage-info">
        <h4>操作简捷</h4>
        <p>客户端布局简洁，操作简易，使用引导完善。</p>
    </div>
</div>
<div class="solution-item-structure">
    <h2>方案架构</h2>
    <img src="{{ site.baseurl }}/public/image/solution/structure-online-education.png">
</div>
<div class="solution-item-applicable">
    <h2>适用场景</h2>
    <div>
        <h4>场景一：一对一授课（跨地域/跨国）</h4>
        <p>一名授课者和一名听课者的远程单独培训授课，教育个性化强。</p>
    </div>
    <div>
        <h4>场景二：一对多小班课（跨地域/跨国）</h4>
        <p>一名授课者和多名听课者的全异地培训授课，适合课题研讨类，专题类教学。</p>
    </div>
    <div>
        <h4>场景三：大班/公开课（跨地域/跨国）</h4>
        <p>又称“双师”教育模式，参与者由异地教师、本地助教和学生组成，以为单位进行授课。</p>
    </div>
</div>

{% include learn-more.html %}

<div class="clean"></div>