---
layout: default
title: 白山新闻
---

{% include navbar.html %}

<div class="news-banner">
    <div class="news-banner-info">
        <h1>新闻动态</h1>
        <p>自成立以来，白山获得国内外媒体广泛关注。透过媒体视角，发现多样白山。</p>
    </div>
</div>

<div class="news">
    {% assign news=site.data.news %}
    {% for ns in news %}
    <div class="news-item">
        <div class="news-imgbox">
            <img src="{{ site.baseurl }}/public/image/news/{{ ns.img }}">
        </div>
        <div class="news-info">
            <p class="news-source-time">
                <span class="news-source"><img src="{{ site.baseurl }}/public/image/news/{{ ns.source }}"></span>
                <span class="news-time">{{ns.time}}</span>
            </p>
            <a href="{{ns.url}}" target="_black"><h3 class="news-title">{{ns.title}}</h3></a>
            <p class="news-brief">{{ns.brief}}</p>
            <a class="news-learn-more" href="{{ns.url}}" target="_black">阅读全文--></a>
        </div>
    </div>
    {% endfor %}
</div>
