---
layout: default
title: 白山新闻
---

{% include navbar.html %}

<div class="news-banner">
    <div class="news-banner-info">
        <h1>新闻动态</h1>
        <p>创新的云分发，指数级提升内容分发性能与服务效率。应用内容更新、大文件同步、视频点播直播和网络负载均衡四大技术均取得速度和稳定性突破；松耦合架构为客户提供全透明和定制化的服务，满足客户多样性需求。</p>
    </div>
</div>

{% assign news=site.data.news %}
{% for ns in news %}

<div class="news-item">
    <div class="news-imgbox">
        <img src="{{ site.baseurl }}/public/image/news/{{ ns.img }}">
    </div>
    <div class="news-info">
        <p class="news-source-time">
            <span class="news-source">{{ns.source}}</span>
            <span class="news-time">{{ns.time}}</span>
        </p>
        <h3 class="news-title">{{ns.title}}</h3>
        <p class="news-brief">{{ns.brief}}</p>
        <a class="news-learn-more" href="{{ns.url}}" target="_black">阅读全文--></a>
    </div>
</div>
{% endfor %}
