.list_content {
	text-align: left;
	padding: 10px 30px;
}
.ul_press{
	margin-top: 20px;
	font-size: 18px;
}
.ul_press li{
	margin-top: 10px;
}
.press_brief{
	margin-bottom: 20px;
	font-size: 16px;
}
.management_info{
	display: block;
	margin-top: 30px;
}
.management_info img{
	width: 130px;
	position: absolute;
}
.management_info h2{
	margin-left: 180px;
}
.management_info p{
	margin-left: 180px;
	font-size: 14px;
}