.list_content {
	text-align: left;
	padding: 10px 30px;
}
.ul_press{
	margin-top: 20px;
	font-size: 18px;
}
.ul_press li{
	margin-top: 10px;
	margin-left: 4px;
}
.press_brief{
	margin-bottom: 20px;
	font-size: 16px;
}
.management_info{
	display: block;
	margin-top: 20px;
	margin-bottom:10px;
	min-height: 290px;
}
.management_info img{
	width: 190px;
	position: absolute;
	max-width: 100%;
	margin-top:10px;
}
.management_info h2{
	margin: 10px 0 10px 220px;
	line-height: 32px;
	font-weight: 600;
	font-size: 14px;
	padding-top: 10px;
	font-family: 'Microsoft Yahei';
}
.management_info p{
	margin-left: 220px;
	margin-bottom:20px;
}
.management_info h2+p{
	font-weight: 200;
	font-family: 'Microsoft Yahei';
	font-size: 12px;
}