.data-hive-core ul.nav-tabs{
    border-bottom:0;
}
.data-hive-core ul.nav-tabs li{
    width:25%;
}
.data-hive-core ul.nav-tabs li a{
    margin-right:0;
    color:#000;
    font-size:24px;
    font-weight:500;
    border:none;
    padding-bottom:20px;
    text-align: center;
}
.data-hive-core ul.nav-tabs li a:hover{
    background: #fff;
    border:none;
}
.data-hive-core ul.nav-tabs li a:hover,
.data-hive-core ul.nav-tabs li.active a{
    border:none;
    color:#1266BD;
    box-shadow: 0 0 10px 3px #e5e9eb;
}
.data-hive-core ul.nav-tabs li a:hover:after,
.data-hive-core ul.nav-tabs li.active a:after{
    content:'';
    height: 20px;
    background: #fff;
    width:100%;
    position: absolute;
    bottom:-20px;
    left: 0;
    right: 0;
    z-index:1;
}
.data-hive-core .tab-pane {
    border-radius:4px;
    box-shadow: 0 0 10px 3px #e5e9eb;
    padding: 50px 80px;
}
.data-hive-core .tab-content .tab-pane:first {
    border-top-left-radius: 0;
}
.data-hive-core .tab-content .tab-pane:last-child {
    border-top-right-radius: 0;
}
.data-hive-core .tab-pane h3{
    font-size:20px;
    color:#525252;
    text-align: center;
}
.core-flex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.core-img{
    flex-grow: 4
}
.core-info{
    flex-grow: 6
}
/* core phone */
.core-info-phone{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:34%;
}
.date-hive-core-slider-phone.slider{
    height:210px;
}
.core-slider-btn-phone.slider-btn ul{
    width:120px;
}
/* solution */
.solution-item{
    height:450px;
}
@media(max-width:767px) {
    .solution-item{
        height:250px;
    }
}