@import url(technology.css);
@import url(solution.css);

.img-center {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    display: block;
}

/* navbar */
.header-logo {
    width: 145px;
    height: 64px;
}
.navbar-default {
    border-color: rgba(255, 255, 255, 0.15);
}
.navbar-with-background {
    background: #33333c;
}

@media(min-width: 767px) {
  .navbar-button {
    border: 1px solid #ddd;
    padding: 2px 10px !important;
    border-radius: 4px;
    margin-top: 12px;
    margin-left: 10px;
  }
}

@media(max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #33333c;
        border: none;
        width: 200px;
        max-height: 667px;
    }
    .navbar-default .navbar-nav > li > a {
        color: #aaa;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        border-bottom: 0;
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #eee;
        background-color: #33333c;
    }
}


/* index-banner carousel */
.img-responsive, .thumbnail > img.banner-img, .thumbnail a > img.banner-img, .carousel-inner > .item > img.banner-img, .carousel-inner > .item > a > img.banner-img {
    height: 684px;
    width: 100%;
}
.carousel-caption {
    text-shadow: none;
    left: 50px;
    right: 50px;
}
.carousel-caption.banner-3 {
    left: 20%;
}
.carousel-indicators {
    bottom: 36px;
}
.carousel-indicators .active {
    background-color: #ccc;
}
.carousel-indicators li {
    border: 1px solid #ccc;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.banner-1 {
    position: absolute;
    top: 150px;
}
.banner-1-title {
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
    letter-spacing: 10px;
}
.banner-1-info {
    font-size: 20px;
    color: #666;
}
.banner-2 {
    position: absolute;
    top: 320px;
    color: #fff;
}
.banner-2-title {
    font-size: 48px;
    letter-spacing: 10px;
}
.banner-2-info {
    font-size: 20px;
    margin-top: 20px;
}
.video-triger {
    cursor: pointer;
    margin-top: 50px;
}
.video-box {
    position: absolute;
    width: 100%;
    bottom: -121px;
    z-index: 1001;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    left: 0;
    overflow: hidden;
    margin: auto;
    line-height: 100%;
    padding-bottom: 121px;
}
.video-sub-box {
    width: 70%;
    height: 80%;
    margin: auto;
    text-align: center;
}
.video-close {
    position: relative;
    height: 25%;
    cursor: pointer;
    background: url(../image/index/videoCancel.png) center right no-repeat transparent;
}
.video-close-button{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}
.video-content {
    height: 75%;
    margin: auto;
}
.banner-3 {
    position: absolute;
    top: 220px;
    text-align: left;
}
.banner-3-info {
    font-size: 42px;
}
.banner-3-more {
    background-color: #fff;
    padding: 12px 40px;
    display: inline-block;
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}
.carousel-indicators li {
    margin: 0 20px;
}
.carousel-indicators .active {
    margin: 0 20px;
}

@media(max-width: 767px) {
    .carousel-caption {
        left: 30px;
        right: 30px;
    }
    .carousel-caption.banner-3 {
        left: 5%;
    }
    .banner-1-title,
    .banner-2-title,
    .banner-3-info {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .banner-1-info,
    .banner-2-info {
        font-size: 18px;
    }
    .video-triger {
        margin-top: 36px;
    }
    .banner-3-more {
        padding: 10px 30px;
        font-size: 16px;
    }
}


/* index-products */
.index-products.container {
    padding: 0;
    margin: 0;
}
.index-products .col-sm-6 {
    padding: 0;
    margin: 0;
}
.index-products a {
    color: #fff;
}
.index-product,
.index-product-hover {
    text-align: center;
    padding: 70px 10%;
    height: 320px;
}
.index-product-hover {
    position: absolute;
    top: 0;
    display: none;
}
.index-product-img {
    margin: 0 auto 30px;
}
.index-product-title {
    font-size: 32px;
    margin-bottom: 20px;
}
.index-product-info {
    font-size: 18px;
}
.index-product-cdn-hover {
    background-color:rgba(237, 153, 102, 0.7);
}
.index-product-fengchao-hover {
    background-color:rgba(168, 111, 232, 0.7);
}
.index-product-atd-hover {
    background-color:rgba(47, 166, 109, 0.7);
}
.index-product-cwn-hover {
    background-color:rgba(80, 102, 207, 0.7);
}
.index-product-cdn {
    background: url(/public/image/index/product-cdn.png) center;
}
.index-product-fengchao {
    background: url(/public/image/index/product-fengchao.png) center;
}
.index-product-atd {
    background: url(/public/image/index/product-atd.png) center;
}
.index-product-cwn {
    background: url(/public/image/index/product-cwn.png) center;
}

@media(max-width: 768px) {
    .index-product-title {
        font-size: 30px;
    }
    .index-product-info {
        font-size: 16px;
    }
}


/* index-solutions */
.carousel-solution {
    padding: 40px 15% 80px;
    text-align: center;
}
.index-solutions {
    padding: 0 10px;
    margin-top: 40px;
}
.index-solutions-title {
    font-size: 36px;
    margin-top: 60px;
}
.index-solutions-info {
    font-size: 20px;
    margin-top: 20px;
}
.index-solution {
    display: inline-block;
    margin: 10px 0;
    padding: 20px 0 30px;
    height: 200px;
    color: #555;
    width: 180px;
}
.index-solution:hover {
    box-shadow: 5px 5px 10px rgba(0, 21, 41, .12), -5px -5px 10px rgba(0, 21, 41, .12);
}
.index-solution img {
    margin: 0 auto;
    height: 119px;
}

@media(max-width: 1200px) {
    .carousel-solution {
        padding: 40px 10% 80px;
    }
}
@media(max-width: 768px) {
    .carousel-solution {
        padding: 40px 80px 80px;
    }
}
@media(max-width: 768px) {
    .carousel-solution {
        padding: 40px 0 80px;
    }
    .index-solution {
        width: 160px;
    }
}


/* index-click-num */
.click-num {
    background-image: url(/public/image/index/visit-data-bg.png);
    text-align: center;
    padding: 80px 10%;
    font-size: 36px;
    color: white;
    font-weight: 400;
}


/* index-customers */
.customers {
    padding: 80px 15%;
    background-color: #f4f7fa;
}
.customers h1 {
    text-align: center;
    margin-bottom: 60px;
}
.customers-box {
    background-color: #fff;
    height: 100px;
    margin-bottom: 20px;
    padding: 8px;
}


/* index-register */
.register {
    padding: 80px 20% 100px;
    background-color: #f4f7fa;
}
.register h2 {
    text-align: center;
}
.register-form {
    margin: 80px 0 0px;
}
.register-sumbit {
    text-align: center;
}
.register-sumbit-button {
    margin: 40px auto 0;
    border-radius: 0;
    width: 180px;
    height: 60px;
    font-size: 24px;
}
.index-register .register {
    background-color: #fff;
}
/* index-certify */
.certify {
    background-color: #f4f7fa;
    padding: 40px 15% 30px;
    text-align: center;
}
.certify-item {
    margin: 20px 0;
}
.certify-item img {
    margin: 0 auto 20px;
    max-height: 80px;
}


/* other */
.bold {
    font-weight: bold;
}
* {
    outline: none !important;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: 300;
}
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    display: block;
    content: "";
}
.clearfix:after {
    clear: both;
}
.clean {
    clear: both;
}
img {
    margin: 0;
}


/* bottom */
.bottom-nav-cn {
    color: #bbb;
    background-color: #33333c;
    height: 320px;
    padding: 60px 15%;
    font-size: 12px;
}
.bottom-nav-cn a {
    color: #bbb;
    display: block;
    line-height: 24px;
}
.bottom-nav-cn a:hover {
    color: #fff;
}
.color-grey {
    color: #777;
}
.bottom-logo {
    width: 140px;
    margin-bottom: 20px;
}
.bottom-telephone {
    margin-top: 20px;
    color: #777;
}
.bottom-telephone img {
    float: left;
    margin-right: 10px;
}
.bottom-solution {
    margin-left: 14px;
}
.bottom-contact-way img {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 4px;
}
.bottom-copyright {
    text-align: center;
    margin-top: 70px;
}
.copyright,
a.copyright {
    display: inline-block;
    margin: 0 20px;
    color: #777;
}
a.copyright:hover {
    color: #ccc;
}
.policeIcon {
    background: url(../image/bottom/police-icon.png) no-repeat;
    padding-left: 26px;
}


/* solution */
.solution-banner {
    height: 450px;
    text-align: center;
    color: #fff;
    background: url(/public/image/solution/solution.png) center no-repeat;
    background-size: 100% 100%;
}
.solution-banner h1 {
    letter-spacing: 10px;
}
.solution-banner-info {
    padding: 160px 20%;
}
.solution-banner-info p {
    font-size: 16px;
    margin-top: 30px;
}

.solution-content-items {
    padding: 80px 15%;
    text-align: center;
}
.solution-content-item {
    padding: 20px;
    margin: 40px 0;
    display: inline-block;
    height: 200px;
    width: 200px;
}
.solution-content-item:hover {
    box-shadow: 5px 5px 10px rgba(0, 21, 41, .12), -5px -5px 10px rgba(0, 21, 41, .12);
}
.solution-content-item img {
    margin: 0 auto;
}
.solution-content-item span {
    display: inline-block;
    color: #555;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

/* news */
.news {
    padding: 60px 15% ;
}
.news-banner {
    height: 450px;
    text-align: center;
    color: #fff;
    background: url(/public/image/news/news-banner.png) center no-repeat;
    background-size: 100% 100%;
}
.news-banner h1 {
    letter-spacing: 10px;
}
.news-banner-info {
    padding: 160px 20%;
}
.news-banner-info p {
    font-size: 16px;
    margin-top: 30px;
    line-height: 30px;
}
.news-item {
    border-bottom: 2px solid #ddd;
    height: 240px;
    padding: 30px 0;
}
.news-imgbox {
    width: 180px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-top: 22px;
}
.news-source-time {
    float: right;
}
.news-source {
    margin-right: 12px;
}
.news-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: 200px;
}
.news-brief {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.news-learn-more {
    float: right;
}
.news-info {
    margin-left: 220px;
}

@media(max-width: 992px) {
    .news-banner-info {
        padding: 140px 10%;
    }
    .news {
        padding: 40px 10%;
    }
}
@media(max-width: 768px) {
    .news-banner-info {
        padding: 140px 80px;
    }
    .news {
        padding: 40px 80px;
    }
    .news-title {
        font-size: 22px;
    }
    .news-info {
        margin-left: 200px;
    }
    .news-brief {
        font-size: 14px;
    }
}
@media(max-width: 767px) {
    .news-banner-info {
        padding: 120px 40px;
    }
    .news-banner-info p {
        font-size: 16px;
    }
    .news {
        padding: 40px 40px;
    }
    .news-imgbox {
        width: 0;
        height: 0;
    }
    .news-info {
        margin-left: 0;
    }
    .news-title {
        margin-right: 0;
        font-size: 20px;
    }
    .news-source-time {
        float: none;
    }
}

/* more */
.more-banner {
    height: 700px;
    text-align: center;
    color: #fff;
    background: url(/public/image/more/about.png) center no-repeat;
    background-size: 100% 100%;
}
.more-banner h1 {
    letter-spacing: 10px;
}
.more-banner-info {
    padding: 160px 20%;
}
.more-banner-info p {
    font-size: 18px;
    margin-top: 60px;
    text-align: left;
    line-height: 2em;
}
