.solution-item-banner {
    height: 450px;
    color: #fff;
}
.solution-item-banner-info {
    padding: 160px 40% 0 20%;
}
.solution-item-banner-info p {
    font-size: 18px;
    margin-top: 30px;
    line-height: 30px;
}

.qiyeshuzihua-banner {
    background: url(/public/image/solution/header-1.png) center no-repeat;
    background-size: 100% 100%;
}
.xinxingzhengwu-banner {
    background: url(/public/image/solution/header-2.png) center no-repeat;
    background-size: 100% 100%;
}
.hangkonganquan-banner {
    background: url(/public/image/solution/header-3.png) center no-repeat;
    background-size: 100% 100%;
}
.hulianwangjinrong-banner {
    background: url(/public/image/solution/header-4.png) center no-repeat;
    background-size: 100% 100%;
}
.youxihangye-banner {
    background: url(/public/image/solution/header-5.png) center no-repeat;
    background-size: 100% 100%;
}
.zhengfuyewu-banner {
    background: url(/public/image/solution/header-6.png) center no-repeat;
    background-size: 100% 100%;
}
.zaixianjiaoyu-banner {
    background: url(/public/image/solution/header-7.png) center no-repeat;
    background-size: 100% 100%;
}
.zixunxinxi-banner {
    background: url(/public/image/solution/header-8.png) center no-repeat;
    background-size: 100% 100%;
}

.solution-item-introduction {
    padding: 80px 20%;
}
.solution-item-introduction h2 {
    margin-bottom: 40px;
    text-align: center;
}
.solution-item-introduction p {
    font-size: 16px;
}

.solution-item-pain-points {
    background-color: #f4f7fa;
    padding: 60px 20%;
}
.solution-item-pain-points h2 {
    margin-bottom: 40px;
    text-align: center;
}

.pain-points div div {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.solution-item-advantage {
    padding: 60px 30%;
}
.solution-item-advantage h2 {
    margin-bottom: 40px;
    text-align: center;
}
.solution-item-advantage p {
    font-size: 16px;
}

.solution-item-structure {
    background-color: #f4f7fa;
    padding: 60px 20%;
}
.solution-item-structure h2 {
    margin-bottom: 40px;
    text-align: center;
}
.solution-item-structure img {
    margin: auto;
}

.solution-item-applicable {
    padding: 60px 20%;
}
.solution-item-applicable h2 {
    margin-bottom: 40px;
    text-align: center;
}
.solution-item-applicable div {
    font-size: 16px;
    background-color: #f4f7fa;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.solution-register {
    background-color: #f4f7fa;
}