/* 8 solutions */

.solution-item-banner {
    height: 280px;
    color: #fff;
}
.solution-item-banner-info {
    padding: 80px 45% 0 20%;
}
.solution-item-banner-info p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
}

.qiyeshuzihua-banner {
    background: url(/public/image/solution/header-corporate-digitization.png) center no-repeat;
    background-size: cover;
}
.xinxingzhengwu-banner {
    background: url(/public/image/solution/header-new-government-affairs.png) center no-repeat;
    background-size: cover;
}
.hulianwangjinrong-banner {
    background: url(/public/image/solution/header-internet-banking.png) center no-repeat;
    background-size: cover;
}
.hangkonganquan-banner {
    background: url(/public/image/solution/header-aviation-safety.png) center no-repeat;
    background-size: cover;
}
.youxihangye-banner {
    background: url(/public/image/solution/header-game-safety.png) center no-repeat;
    background-size: cover;
}
.zixunxinxi-banner {
    background: url(/public/image/solution/header-information-security.png) center no-repeat;
    background-size: cover;
}
.zhengfuyewu-banner {
    background: url(/public/image/solution/header-government-security.png) center no-repeat;
    background-size: cover;
}
.zaixianjiaoyu-banner {
    background: url(/public/image/solution/header-online-education.png) center no-repeat;
    background-size: cover;
}

.solution-item-introduction,
.solution-item-pain-points,
.solution-item-structure,
.solution-item-applicable {
    padding: 80px 20%;
    font-size: 16px;
}
.solution-item-pain-points,
.solution-item-structure {
    background-color: #f4f7fa;
}
.solution-item-advantage {
    padding: 80px 20%;
    font-size: 16px;
}
.solution-item-advantage-div {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.solution-item-advantage.solution-item-advantage-special h2 {
    margin-bottom: 40px;
    text-align: center;
}
.solution-item-advantage-title {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}
.solution-item-advantage-info {
    padding: 12px 20px;
    background-color: #f4f7fa;
    margin: 20px 0;
}
.solution-item-introduction h2,
.solution-item-pain-points h2,
.solution-item-advantage h2,
.solution-item-applicable h2 {
    margin-bottom: 60px;
    text-align: center;
}
.solution-item-structure h2 {
    margin-bottom: 40px;
    text-align: center;
}

.pain-points div div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    height: 100px;
}
.solution-item-structure img,
.solution-item-applicable img {
    margin: auto;
}
.solution-item-applicable div {
    background-color: #f4f7fa;
    margin-bottom: 20px;
    padding: 20px 40px;
}

@media(max-width: 1200px) {
    .solution-item-banner-info h1 {
        font-size: 32px;
        white-space: nowrap;
    }
}
@media(max-width: 767px) {
    .solution-item-banner-info {
        padding: 80px 40px 0;
    }
    .solution-item-banner-info h1 {
        font-size: 28px;
    }
    .solution-item-banner-info p {
        font-size: 14px;
    }
    .solution-item-introduction,
    .solution-item-pain-points,
    .solution-item-advantage,
    .solution-item-applicable {
        padding: 80px 40px;
        font-size: 14px;
    }
    .solution-item-structure {
        padding: 80px 30px;
    }
    .solution-item-advantage-title {
        font-size: 16px;
    }
}