/* banner */
.technology-banner {
    height: 384px;
    text-align: center;
    color: #fff;
}
.technology-banner-info {
    padding: 120px 20%;
}
.technology-banner-info h1 {
    letter-spacing: 10px;
}
.technology-banner-info p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

.cdn-banner {
    background: url(/public/image/index/product-cdn.png) center no-repeat;
    background-size: cover;
}
.cwn-banner {
    background: url(/public/image/index/product-cwn.png) center no-repeat;
    background-size: cover;
}
.atd-banner {
    background: url(/public/image/index/product-atd.png) center no-repeat;
    background-size: cover;
}
.shujufengchao-banner {
    background: url(/public/image/index/product-fengchao.png) center no-repeat;
    background-size: cover;
}


/* technology & advantage */
.product-technology,
.product-technology-advantage {
    text-align: center;
    padding: 80px 15%;
}
.product-technology-advantage {
    background-color: #f4f7fa;
}
.product-technology-item,
.product-technology-advantage-item {
    padding: 0 20px;
    margin-top: 60px;
    height: 320px;
}
.product-technology-item img {
    margin: 0 auto 20px;
    height: 110px;
}
.product-technology-item-title {
    font-size: 20px;
    font-weight: 400;
}
.product-technology-item-info {
    font-size: 16px;
}
.product-technology-item-info.first-item-info {
    margin-top: 20px;
}

.product-technology-advantage-item img {
    margin: 0 auto;
    height: 100px;
}
.product-technology-advantage-item-title {
    font-size: 20px;
    font-weight: 400;
    margin: 40px 0 20px;
}
.product-technology-advantage-item-info {
    font-size: 16px;
}


/* structure */
.technology-structure {
    padding: 80px 20%;
    text-align: center;
}
.technology-structure-img {
    margin: 60px auto;
}


/* relative product */
.relative-product {
    text-align: center;
    padding: 80px 15%;
    background-color: #f4f7fa;
}
.relative-product-title {
    margin-bottom: 40px;
}
.relative-product div {
    margin-bottom: 20px;
}
.relative-product-cdn,
.relative-product-cwn,
.relative-product-shujufengchao,
.relative-product-atd {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fff;
    font-weight: 400;
}
.relative-product-cdn {
    color: #ed9966;
}
.relative-product-cdn:hover {
    color: #fff;
    background-color: #ed9966;
}
.relative-product-cwn {
    color: #5066cf;
}
.relative-product-cwn:hover {
    color: #fff;
    background-color: #5066cf;
}
.relative-product-shujufengchao {
    color: #a86fe8;
}
.relative-product-shujufengchao:hover {
    color: #fff;
    background-color: #a86fe8;
}
.relative-product-atd {
    color: #2fa66d;
}
.relative-product-atd:hover {
    color: #fff;
    background-color: #2fa66d;
}


@media(max-width: 767px) {
    .technology-banner-info {
        padding: 90px 10%;
    }
    .product-technology,
    .product-technology-advantage,
    .technology-structure {
        text-align: center;
        padding: 80px 10%;
    }
    .relative-product-cdn,
    .relative-product-cwn,
    .relative-product-shujufengchao,
    .relative-product-atd {
        height: 100px;
    }
}