.technology-banner {
    height: 450px;
    text-align: center;
    color: #fff;
}
.technology-banner-info {
    padding: 160px 20%;
}
.technology-banner-info h1 {
    letter-spacing: 10px;
}
.technology-banner-info p {
    font-size: 18px;
    margin-top: 30px;
}

.cdn-banner {
    background: url(/zh/public/image/index/product_CDN.png) center no-repeat;
    background-size: 100% 100%;
}
.cwn-banner {
    background: url(/zh/public/image/index/product_CWN.png) center no-repeat;
    background-size: 100% 100%;
}
.atd-banner {
    background: url(/zh/public/image/index/product_ATD.png) center no-repeat;
    background-size: 100% 100%;
}
.shujufengchao-banner {
    background: url(/zh/public/image/index/product_蜂巢.png) center no-repeat;
    background-size: 100% 100%;
}

.cdn-technology.container {
    text-align: center;
    padding: 80px 15%;
}
.cdn-technology-title {
    margin-bottom: 80px;
}
.cdn-technology-item {
    padding: 0 4%;
}
.cdn-technology-item img {
    margin: 0 auto 40px;
}
.cdn-technology-item-title {
    font-size: 20px;
    font-weight: 400;
}
.cdn-technology-item-info {
    font-size: 16px;
    margin-top: 20px;
}

.product-technology-advantage.container {
    text-align: center;
    padding: 80px 15%;
    background-color: #f4f7fa;
}
.product-technology-advantage-title {
    margin-bottom: 100px;
}
.product-technology-advantage-item {
    padding: 0 4%;
}
.product-technology-advantage-item-imgbox {
    height: 150px;
}
.product-technology-advantage-item img {
    margin: 0 auto;
}
.product-technology-advantage-item-title {
    font-size: 20px;
    font-weight: 400;
    margin: 60px 0 20px;
}
.product-technology-advantage-item-info {
    font-size: 16px;
}

.cdn-network-resource.container {
    text-align: center;
    padding: 80px 15%;
}
.cdn-network-resource img {
    margin: 40px 0;
}
.cdn-network-resource p {
    font-size: 16px;
}

.relative-product.container {
    text-align: center;
    padding: 80px 15%;
    background-color: #f4f7fa;
}
.relative-product-title {
    margin-bottom: 40px;
}
.relative-product-cdn,
.relative-product-cwn,
.relative-product-shujufengchao,
.relative-product-atd {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fff;
    font-weight: 400;
}
.relative-product-cdn {
    color: #ed9966;
}
.relative-product-cdn:hover {
    color: #fff;
    background-color: #ed9966;
}
.relative-product-cwn {
    color: #5066cf;
}
.relative-product-cwn:hover {
    color: #fff;
    background-color: #5066cf;
}
.relative-product-shujufengchao {
    color: #a86fe8;
}
.relative-product-shujufengchao:hover {
    color: #fff;
    background-color: #a86fe8;
}
.relative-product-atd {
    color: #2fa66d;
}
.relative-product-atd:hover {
    color: #fff;
    background-color: #2fa66d;
}


.technology-structure {
    padding: 80px 20%;
    text-align: center;
}
.technology-structure-img {
    margin: 60px 0;
}

.atd-technology.container {
    text-align: center;
    padding: 80px 25%;
}
.atd-technology-title {
    margin-bottom: 80px;
}
.atd-technology-item {
    padding: 0 4%;
}
.atd-technology-item img {
    margin: 0 auto 20px;
    width: 240px;
}
.atd-technology-item-title {
    font-size: 20px;
    font-weight: 400;
}
.atd-technology-item-info {
    font-size: 16px;
}
.atd-technology-item-info.first-item-info {
    margin-top: 20px;
}