<div class="bottom-nav-cn hidden-md">
    <div class="col-md-4">
        <img class="bottom-logo" src="{{ site.baseurl }}/public/image/logo/logo_write_cn.png" alt="">
        <p class="color-grey">Copyright © 2015-2018</p>
        <p class="color-grey">Baishancloud. All rights reserved.</p>
    </div>
    <div class="col-md-1">
        <p class="bold">产品</p>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-technology-cdn-x %}">云分发</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-technology-fengchao %}">数聚蜂巢</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-technology-atd %}">ATD</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-technology-cwn-x %}">云存储</a>
    </div>
    <div class="col-md-3">
        <div class="col-lg-12">
            <p class="bold">解决方案</p>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-corporate-digitization %}">企业数字化转型</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-new-government-affairs %}">新型政务数据共享交换</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-aviation-safety %}">航空安全</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-internet-banking %}">互联网金融安全</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-game-safety %}">游戏安全</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-government-security %}">政府安全</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-online-education %}">在线教育</a>
            <a href="{{ site.baseurl}}{% post_url 2018-04-08-solution-information-security %}">咨询信息安全</a>
        </div>
    </div>
    <div class="col-md-2">
        <p class="bold">关于我们</p>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-more %}">公司简介</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-news %}">新闻动态</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-more %}">加入我们</a>
        <a href="{{ site.baseurl}}{% post_url 2018-04-08-more %}">联系我们</a>
    </div>
    <div class="col-md-2">
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="glyphicon glyphicon-eye-open"></span>
        <span class="glyphicon glyphicon-earphone"></span>
        <p>微信公众号</p>
    </div>
    <div class="bottom-copyright col-md-12">
        <a href="http://www.miitbeian.gov.cn/" class="copyright color-grey">京ICP备 16037635号 - 3</a>
        <p class="copyright policeIcon">京公网安备 11010502032269号</p>
    </div>
</div>
