<div class="bottom-nav-cn hidden-md hidden-sm hidden-xs">
    <div class="col-md-3">
        <img class="bottom-logo" src="{{ site.baseurl }}/public/image/logo/logo_write_cn.png" alt="">
        <p class="color-grey">Copyright © 2015-2018<br>Baishancloud. All rights reserved.</p>
        <div class="bottom-telephone">
            <img src="{{ site.baseurl }}/public/image/bottom/telephone.png">
            <span>400-081-3388</span>
        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-2">
            <p class="bold">产品</p>
            <a href="{{ site.baseurl}}{% link tech/index.html %}">CDN-X</a>
            <a href="{{ site.baseurl}}{% link tech/fengchao.html %}">数聚蜂巢</a>
            <a href="{{ site.baseurl}}{% link tech/atd.html %}">ATD</a>
            <a href="{{ site.baseurl}}{% link tech/cwn.html %}">CWN-X</a>
        </div>
        <div class="col-md-7">
            <p class="bold bottom-solution">解决方案</p>
            <div class="col-md-7">
                <a href="{{ site.baseurl}}{% link solution/corporate-digitization.html %}">企业数字化转型</a>
                <a href="{{ site.baseurl}}{% link solution/new-government-affairs.html %}">新型政务数据共享交换</a>
                <a href="{{ site.baseurl}}{% link solution/internet-banking.html %}">互联网金融安全</a>
                <a href="{{ site.baseurl}}{% link solution/aviation-safety.html %}">航空安全</a>
            </div>
            <div class="col-md-5">
                <a href="{{ site.baseurl}}{% link solution/game-safety.html %}">游戏安全</a>
                <a href="{{ site.baseurl}}{% link solution/information-security.html %}">资讯信息安全</a>
                <a href="{{ site.baseurl}}{% link solution/government-security.html %}">政府安全</a>
                <a href="{{ site.baseurl}}{% link solution/online-education.html %}">在线教育</a>
            </div>
        </div>
        <div class="col-md-3">
            <p class="bold">关于我们</p>
            <a href="{{ site.baseurl}}{% link more/index.html %}">公司简介</a>
            <a href="{{ site.baseurl}}{% link news/index.html %}">新闻动态</a>
            <a href="{{ site.baseurl}}{% link more/index.html %}">加入我们</a>
            <a href="{{ site.baseurl}}{% link more/index.html %}">联系我们</a>
        </div>
    </div>
    <div class="col-md-2 bottom-contact-way">
        <img src="{{ site.baseurl }}/public/image/bottom/wechat.png">
        <a href="https://weibo.com/baishancloud"><img src="{{ site.baseurl }}/public/image/bottom/weibo.png"></a>
        <a href="mailto:Pr@baishancloud.com"><img src="{{ site.baseurl }}/public/image/bottom/email.png"></a>
        <div><img src="{{ site.baseurl }}/public/image/bottom/erweima.png"></div>
        <p>关注微信公众号</p>
    </div>
    <div class="bottom-copyright col-md-12">
        <a href="http://www.miitbeian.gov.cn/" class="copyright color-grey">京ICP备 16037635号 - 3</a>
        <p class="copyright policeIcon">京公网安备 11010502032269号</p>
    </div>
</div>
