<div class="list_content list_content_wider">
	<div class="culture-top msr-b-40">
		<h1 class="head-title color-3">BaishanCloud Corporate Culture</h1>
		<p>At BSC, our entire focus is on our employees - their sense of accomplishments and their happiness as members
			of the BSC family. A strong emphasis on teamwork has helped to create a relaxed and yet efficient work
			environment for our staff.</p>
	</div>
	<div id="blocksItContainer">
		{% assign cultures=site.data.BSC_Culture %}
		{% for culture in cultures %}
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/{{culture.fileName}}" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/{{culture.fileName}}"
				   data-lightbox="example-set" data-title="{{culture.imgTitle}}">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>{{culture.imgTitle}}</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>