<div class="list_content list_content_wider">
    <div class="culture-top msr-b-80">
        <img src="{{ site.baseurl }}public/image/Culture/cultureBG.png" alt="" class="culture-customers">
    </div>
    <div id="blocksItContainer">
        {% assign cultures=site.data.BSC_Culture %}
        {% for culture in cultures %}
        <div class="culture-imgbox">
            <div class="post-thumb">
                <img src="{{ site.baseurl }}public/image/Culture/{{culture.fileName}}" alt="">
                <a class="image-link" href="{{ site.baseurl }}public/image/Culture/{{culture.fileName}}"
                   data-lightbox="example-set" data-title="{{culture.imgTitle}}">
                    <div class="post-hover text-center">
                        <div class="inside">
                            <span class="glyphicon glyphicon-search"></span>
                            <h4>{{culture.imgTitle}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>