<div class="list_content">
	<div class="culture-top msr-b-40">
		<h1 class="head-title color-3">BaishanCloud Corporate Culture</h1>
		<p>At BSC, our entire focus is on our employees - their sense of accomplishments and their happiness as members of the BSC family. A strong emphasis on teamwork has helped to create a relaxed and yet efficient work environment for our staff.</p>
	</div>
	<div id="blocksItContainer">
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/thumb_400_500_20161010065226479.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/thumb_400_500_20161010065226479.jpg" data-lightbox="example-set" data-title=".">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/20161010064923749.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/20161010064923749.jpg" data-lightbox="example-set">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/xx.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/xx.jpg" data-lightbox="example-set">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/xx.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/xx.jpg" data-lightbox="example-set">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/20161010064923749.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/20161010064923749.jpg" data-lightbox="example-set">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="culture-imgBox">
			<div class="post-thumb">
				<img src="{{ site.baseurl }}/public/image/Culture/thumb_400_500_20161010065226479.jpg" alt="">
				<a class="image-link" href="{{ site.baseurl }}/public/image/Culture/thumb_400_500_20161010065226479.jpg" data-lightbox="example-set">
					<div class="post-hover text-center">
						<div class="inside">
							<span class="glyphicon glyphicon-search"></span>
							<h4>dsssssss</h4>
						</div>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>