<div class="clearfix cln-products-head mar-b-40-sm">
    <div class="cln-products-head-part">
        <div class="cln-baishan-logo">
            <img src="{{ site.baseurl }}/public/image/logo_black_cn.png" alt="baishan logo">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <img src="{{ site.baseurl }}/public/image/cln/cln-01.png">
        </div>
        <div class="col-xs-12 cln-products-head-tab col-sm-8 col-md-6">
            <span class="focus">数聚蜂巢</span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-ATD %}">ATD</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-API %}">API加速</a></span>
            <div class="white-triangle-1"></div>
        </div>
    </div>
</div>
<div class="clearfix cln-products-content cln-ATD-API mar-b-40-sm">
    <div class="cln-ATD-API-part1">
        <h2 class="cln-main-title">打通数据孤岛，重塑数据价值</h2>
        <p class="bold">数聚蜂巢解决了系统、数据和IoT之间的孤岛连接问题，是一个松耦合敏捷的混合集成平台(HIP)，以API实现孤岛系统的数据融合、应用重组和业务构建。
        </p>
    </div>
    <hr>
    <div class="squeegee-bg">
        <div id="squeegee" class="squeegee-wrap">
            <div class="squeegee-handle"></div>
            <div class="squeegee-before">
                <h4>...没有数聚蜂巢</h4>
                <div></div>
            </div>
            <div class="squeegee-after">
                <h4></h4>
                <div></div>
            </div>
        </div>
    </div>
    <div class="banner-wrap">
        <img src="{{ site.baseurl }}/public/image/cln/cln-before.png" alt="" id='bannerImg'>
    </div>
    <hr>
    <div class="">
        <h2 class="cln-main-title">产品构成</h2>
        <img src="{{ site.baseurl }}/public/image/cln/constitute.png" alt="">
    </div>
    <hr>
    <div class="advantage clearfix">
        <h2 class="cln-main-title">产品优势</h2>
        <div class="col-xs-12 col-sm-6">
            <div class="advantage-card">
                <img src="{{ site.baseurl }}/public/image/cln/advantage-1.png" alt="">
                <div class="advantage-content">
                    <h4>数据智能发现</h4>
                    <p>脱码API构建</p>
                    <p>程序智能组态构建</p>
                    <p>智能发现并理解API</p>
                    <p>快速模型驱动API构建</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="advantage-card">
                <img src="{{ site.baseurl }}/public/image/cln/advantage-2.png" alt="">
                <div class="advantage-content">
                    <h4>跨界多元融合</h4>
                    <p>应用跨界融合</p>
                    <p>多元异构数据融合</p>
                    <p>横向无缝应用集成</p>
                    <p>面向混合云融合</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="advantage-card">
                <img src="{{ site.baseurl }}/public/image/cln/advantage-3.png" alt="">
                <div class="advantage-content">
                    <h4>轻量稳定易拓展</h4>
                    <p>规模化敏捷运行</p>
                    <p>深度性能检测与优化</p>
                    <p>横向自动弹性扩容</p>
                    <p>智能监控与容错</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="advantage-card">
                <img src="{{ site.baseurl }}/public/image/cln/advantage-4.png" alt="">
                <div class="advantage-content">
                    <h4>用AI武装安全</h4>
                    <p>深度威胁识别ATD</p>
                    <p>聚类算法精准识别威胁</p>
                    <p>半监督学习自我优化</p>
                    <p>秒级判断实时预警</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="solution">
        <h2 class="cln-main-title">解决方案</h2>
        <div class="col-sm-12 col-md-6 solution-card">
            <a href="{{ site.baseurl }}{% post_url 2017-01-03-solution-1 %}">
                <img src="{{ site.baseurl }}/public/image/cln/solution-1.jpg" alt="">
                <div class="solution-title">
                    <h2>双模政务资源目录</h2>
                    <h2>解决方案</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 solution-card">
            <a href="{{ site.baseurl }}{% post_url 2017-01-03-solution-2 %}">
                <img src="{{ site.baseurl }}/public/image/cln/solution-2.jpg" alt="">
                <div class="solution-title">
                    <h2>新型政务数据共享交换</h2>
                    <h2>解决方案</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 solution-card">
            <a href="{{ site.baseurl }}{% post_url 2017-01-03-solution-3 %}">
                <img src="{{ site.baseurl }}/public/image/cln/solution-3.jpg" alt="">
                <div class="solution-title">
                    <h2>互联网+政务</h2>
                    <h2>解决方案</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 solution-card">
            <a href="{{ site.baseurl }}{% post_url 2017-01-03-solution-4 %}">
                <img src="{{ site.baseurl }}/public/image/cln/solution-4.jpg" alt="">
                <div class="solution-title">
                    <h2>企业数字化转型</h2>
                    <h2>解决方案</h2>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="{{ site.baseurl }}/public/js/jquery-2.2.4.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/squeegee.js"></script>