<div class="list_content">
	<div class="office-list-container">
		<div class="content-office col-xs-12">
			<h3 class="sub-title color-2">Beijing Office</h3>
			<p class="office-info">Jia-10 Jiuxianqiao North Rd., E-5/F, Block 201 BEZ Park, Chaoyang District, Beijing, China</p>
		</div>
		<div class="content-office col-xs-12">
			<h3 class="sub-title color-2">Shanghai Office</h3>
			<p class="office-info">6 Lane 388, Zhongjiang Rd., B-5/F, Future Land Holding Mansion, Putuo District, Shanghai, China</p>
		</div>
		<div class="col-xs-12 mar-t-60">
			<div class="row">
				<div class="col-xs-6">
					<h3 class="sub-title color-2">Technology Consulting</h3>
					<p class="office-info info-above">4000813388-1</p>
					<p class="office-info info-above">techs@baishancloud.com</p>
				</div>
				<div class="col-xs-6">
					<h3 class="sub-title color-2">Marketing</h3>
					<p class="office-info info-above">  4000813388-3</p>
					<p class="office-info info-above">market@baishancloud.com </p>
				</div>
			</div>
			<div class="row mar-t-15">
				<div class="col-xs-6">
					<h3 class="sub-title color-2">Sales</h3>
					<p class="office-info info-above">4000813388-2</p>
					<p class="office-info info-above">support@baishancloud.com  </p>
				</div>
				<div class="col-xs-6">
					<h3 class="sub-title color-2">Media & PR</h3>
					<p class="office-info info-above">   4000813388-5</p>
					<p class="office-info info-above">pr@baishancloud.com  </p>
				</div>
			</div>
		</div>
	</div>

</div>