<div id="contact">
    <div class="container content-bg">
        <div class="row mar20">
            <div class="col-sm-8">
                {% assign cufs = site.data.contact-us-office-cn %}
                {% assign myOffset = 0 %}
                {% for i in (1..3) %}
                <div class="row">
                    {% for cuf in cufs offset:myOffset limit:2 %}
                    <div class="col-sm-6 office-info">
                        <div class="">
                            <h4 class="office-h4">{{cuf.name}}</h4>
                            <img class="hidden-xs" src="{{ site.baseurl }}public/image/contact/{{cuf.imgName}}" alt="" class="contact-map">
                            <h3 class="office-h3">{{cuf.blueName}}</h3>
                            <p class="contact-p">{{cuf.addr}}</p>
                        </div>
                    </div>  
                    {% if forloop.last%}
                    {% assign myOffset = cuf.index1 %}
                    {% endif %}
                    {% endfor %}
                </div> 
                {% endfor %}
            </div>
            <div class="visible-xs content-line"></div>
            <div class="col-sm-4">
                {% assign cuos = site.data.contact-us-others-cn %}
                {% for cuo in cuos %}
                <div class="contact-box">
                    <h4 class="office-h4">{{cuo.name}}</h4>
                    <p class="contact-p">{{cuo.phone}}</p>
                    <p class="contact-p">{{cuo.mail}}</p>
                </div>
                <div class="clearfix"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
