<div class="list_content">
	<div class="culture-top msr-b-40">
		<h1 class="head-title">Representative Customers</h1>
		<p>BSC cloud managed services have gained considerable market traction in the marketplace. Service innovations
			and service quality are the driving forces behind rapid BSC service adaptations. </p>
	</div>
	{% assign cus=site.data.customers %}
	{% for cu in cus %}
	<div class="col-md-3 col-lg-3 mar-b-20">
		<div class="customers-box">
			<img src="{{ site.baseurl }}/public/image/Customers/{{cu.fileName}}" alt="" class="img-center">
		</div>
	</div>
	{% endfor %}
	<div class="clearfix"></div>
</div>