<div class="register">
    <h2>了解更多</h2>
    <form class="register-form" onsubmit="event.preventDefault();" autocomplete="nope">
        <div class="form-group col-sm-6">
            <input placeholder="姓名 必填" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group col-sm-6">
            <input placeholder="邮箱 必填" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group col-sm-6">
            <input placeholder="电话 必填" class="form-control" id="telephone" name="telephone" required>
        </div>
        <div class="form-group col-sm-6">
            <input placeholder="公司名称 选填" class="form-control" id="company" name="company" >
        </div>
        <div class="form-group col-sm-6">
            <input placeholder="职位" class="form-control" id="position" name="position" required>
        </div>
        <div class="form-group col-sm-6">
            <input placeholder="业务需求" class="form-control" id="requirement" name="requirement" required>
        </div>
        <div class="register-sumbit">
            <button class="btn btn-primary register-sumbit-button">提交</button>
        </div>
    </form>
</div>
