<div class="header hidden-xs">
    <div class="header-logo">
        <img src="{{ site.baseurl }}/public/image/logo/logo_write_cn.png">
    </div>
    <div class="header-right">
        <div class="header-navbar">
            <a class="header-navbar-item current-page" href="{{ site.baseurl }}/">首页</a>
            <a class="header-navbar-item" href="{{ site.baseurl}}{% post_url 2018-04-08-technology-cdn-x %}">产品技术</a>
            <a class="header-navbar-item" href="{{ site.baseurl}}{% post_url 2018-04-08-solution %}">解决方案</a>
            <a class="header-navbar-item" href="{{ site.baseurl}}{% post_url 2018-04-08-news %}">新闻动态</a>
            <a class="header-navbar-item" href="{{ site.baseurl}}{% post_url 2018-04-08-more %}">更多</a>
        </div>
        <div class="zh-en">
            <a href="https://en.baishancloud.com/">English</a>
        </div>
        <div>400-081-3388</div>
        <a href="http://www.qingcdn.com/account/index/login" class="header-login">登录</a>
    </div>
</div>