<div class="col-sm-4">
    <div class="news-correlation">
        <h5>相关阅读 <span><a href="{{ site.baseurl}}{% post_url 2017-01-20-news %}">进入新闻首页</a></span></h5>
        <ul>
            <li><a href="{{ site.baseurl }}{% post_url 2017-01-20-news-30 %}">白山：首创“乐高式松耦合”架构</a></li>
            <li><a href="{{ site.baseurl }}{% post_url 2017-01-20-news-02 %}">Embrace delivery, storage and
                linkage for a 'post-cloud era'</a></li>
            <li><a href="{{ site.baseurl }}{% post_url 2017-01-20-news-03 %}">从互联网+到“AI+”：中国互联网经济新动能</a></li>
            <li><a href="{{ site.baseurl }}{% post_url 2017-01-20-news-04 %}">管理技术人，更要学会沟通</a></li>
            <li><a href="{{ site.baseurl }}{% post_url 2017-01-20-news-05 %}">重构数据价值 云链网络共同体</a></li>
        </ul>
    </div>
</div>
