<div class="sidebar">
	<div class="sidebar-sticky">
		<ul class="nav_list" id="nav">
			<li><a class="sidebar-nav-item active" href="{{ site.baseurl }}">Homepage</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-01-01-About-Us %}">About Us</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-02-01-Management %}">Management</a></li>
			<li><a class="sidebar-nav-item" href="#" id="products">Products</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-04-01-Customers %}">Customers</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-05-01-BSC-Press %}">BSC Press</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-06-01-BSC-Culture %}">BSC Culture</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-07-01-Careers %}">Careers</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-08-01-Contact-Us %}">Contact Us</a></li>
		</ul>
	</div>
</div>
<div class="sidebar" style="left: -12rem;opacity: 1;" id="nav_up">
	<div class="container sidebar-sticky">
		<a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-03-02-Overviwe %}">Overviwe</a>
		<a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-03-03-CDN-X %}">CDN-X</a>
		<a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-03-04-CWN-X %}">CWN-X</a>
		<a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-03-05-CLN-X %}">CLN-X</a>
	</div>
</div>
