<div class="sidebar">
  <div class="container sidebar-sticky">
      {% assign posts_list = site.posts %}
      {% for node in posts_list %}
       	{% if node.title == "Products" %}
       	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" id="products" href="#">{{ node.title }}</a>
        {% endif %}
        {% if node.title == "Overview" %}
        {% break %}
        {% endif %}
        {% if node.title != "Products" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}

      {% endfor %}
  </div>
</div>
<div class="sidebar" style="left: 8rem">
  <div class="container sidebar-sticky">
      {% assign posts_list = site.posts %}
      {% for node in posts_list %}
        {% if node.title == "Overview" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
         {% if node.title == "CDN-X"%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
         {% if node.title == "CWN-X" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
         {% if node.title == "CLN-X" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
  </div>
</div>
