<div class="sidebar hidden-xs">
	<div class="sidebar-sticky">
		<ul class="nav_list" id="nav">
			<li><a class="sidebar-nav-item " href="{{ site.baseurl }}">首页</a></li>
			<li class="">
				<a class="sidebar-nav-item nav-xs-first dropdown-toggle" data-target="#" data-toggle="dropdown">服务</a>
				<ul class="dropdown-menu my-dropdown">
					<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-01-cdn-x %}">CDN-X 云分发</a></li>
					<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-02-cwn-x %}">CWN-X 云存储</a></li>
					<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x %}">CLN-X 云聚合</a></li>
				</ul>
			</li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2017-01-04-technology %}">技术</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-06-01-BSC-Culture %}">生活</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-04-01-Customers %}">客户</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2017-01-05-brief %}">白山简介</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2017-01-06-management %}">白山领导力</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2017-01-20-news %}">白山新闻</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-07-01-Careers %}">白山招聘</a></li>
			<li><a class="sidebar-nav-item" href="{{ site.baseurl}}{% post_url 2016-08-01-Contact-Us %}">联系白山</a></li>
		</ul>
	</div>
</div>

<button class="nav-xs collapsed visible-xs" data-toggle="collapse" data-target="#navXS">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<div class="clearfix nav-xs-bg"></div>
<div class="collapse nav-xs-content hidden-sm hidden-md hidden-lg" id="navXS">
	<ul class="nav navbar-nav">
		<li><a class="nav-xs-first" href="{{ site.baseurl }}">首页</a></li>
		<li class="dropdown">
			<a class="nav-xs-first dropdown-toggle" href="#" data-toggle="dropdown">服务</a>
			<ul class="dropdown-menu">
				<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-01-cdn-x %}">CDN-X 云分发</a></li>
				<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-02-cwn-x %}">CWN-X 云存储</a></li>
				<li><a class="" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x %}">CLN-X 云聚合</a></li>
			</ul>
		</li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2017-01-04-technology %}">技术</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2016-06-01-BSC-Culture %}">生活</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2016-04-01-Customers %}">客户</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2017-01-05-brief %}">白山简介</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2017-01-06-management %}">白山领导力</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2017-01-20-news %}">白山新闻</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2016-07-01-Careers %}">白山招聘</a></li>
		<li><a class="nav-xs-first" href="{{ site.baseurl}}{% post_url 2016-08-01-Contact-Us %}">联系白山</a></li>
	</ul>
</div>

