<div class="clearfix cln-products-head mar-b-40-sm">
    <div class="cln-products-head-part">
        <div class="cln-baishan-logo">
            <img src="{{ site.baseurl }}/public/image/logo_black_cn.png" alt="baishan logo">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <img src="{{ site.baseurl }}/public/image/cln/cln-01.png">
        </div>
        <div class="col-xs-12 cln-products-head-tab col-sm-8 col-md-6">
            <span class="focus"><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x %}">数聚蜂巢</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-ATD %}">ATD</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-API %}">API加速</a></span>
            <div class="white-triangle-1"></div>
        </div>
    </div>
</div>
<div class="solution-title-card solution3-title">
    <h3>数聚蜂巢</h3>
    <h4>互联网+政务解决方案</h4>
</div>
<div class="clearfix solution-brief">
    <h3>方案简介:</h3>
    <p>白山互联网+政务解决方案基于数聚蜂巢平台，依托API经济思维，借助云计算、大数据、人工智能等互联网高新信息技术，助力建设高效、便捷、经济的政务服务，实现“惠民、惠企、惠政”。</p>
    <p>本方案以API作为业务数据的载体，组建API数据资源池，实现跨层级、跨区域、跨部门业务系统的共享调用和数据交换，打通数据孤岛，优化办事业务流程，提升民众和企业办事效率，改善民众和企业的办事体验，真正做到让“群众跑腿”变成让“数据跑路”。</p>
</div>
<div class="clearfix solution-architecture">
    <h3>方案架构:</h3>
    <img src="{{ site.baseurl }}/public/image/cln/solution-page3.png" alt="">
</div>
<div class="clearfix solution-scene solution2-scene solution3-scene">
    <h3>适用场景:</h3>
    <h4 class="h4-special">一号一窗一网</h4>
    <img src="{{ site.baseurl }}/public/image/cln/screen-page3-1.png" alt="">
    <p>以API为载体，打通数据孤岛，重组业务逻辑，优化办事流程，提升民众体验</p>
    <p>白山数聚蜂巢能够针对B/S、C/S、DB等多种类型业务快速生成API，组成API资源池，不依赖原长技术，无需反复沟通，缩短流程，减轻对接技术难度，快速实现业务互联互通，提升效率，降低成本。</p>
    <h4>电子政务-大数据应用</h4>
    <img src="{{ site.baseurl }}/public/image/cln/screen-page3-2.png" alt="">
    <p>数聚蜂巢以API为数据载体</p>
    <p>针对已有API的业务系统，使用API适配成统一REST API；</p>
    <p>针对B/S架构业务系统使用B2A方式生成API；</p>
    <p>针对C/S架构，使用C2A生成API；</p>
    <p>针对具有数据库权限的业务系统使用D2A方式生成API；</p>
    <p>支持结构化数据，半结构化、非结构化数据处理，满足多种业务架构，且实现和数据的实时交互。</p>
    <h4>智慧城市</h4>
    <img src="{{ site.baseurl }}/public/image/cln/screen-page3-3.png" alt="">
    <p>数聚蜂巢不依赖原厂商，适用已有API、B/S、C/S、DB等业务类型，自主生成接口，针对不同数据使用统一标准，以API为数据载体，将来源不同、格式异同的数据标准统一，减少人工干预，降低数据获取和使用的复杂程度，提升智慧城市建设效率。</p>
</div>


