<div class="clearfix cln-products-head mar-b-40-sm">
    <div class="cln-products-head-part">
        <div class="cln-baishan-logo">
            <img src="{{ site.baseurl }}/public/image/logo_black_cn.png" alt="baishan logo">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <img src="{{ site.baseurl }}/public/image/cln/cln-01.png">
        </div>
        <div class="col-xs-12 cln-products-head-tab col-sm-8 col-md-6">
            <span class="focus"><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x %}">数聚蜂巢</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-ATD %}">ATD</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-API %}">API加速</a></span>
            <div class="white-triangle-1"></div>
        </div>
    </div>
</div>
<div class="solution-title-card solution2-title">
    <h3>数聚蜂巢</h3>
    <h4>新型政务数据共享交换解决方案</h4>
</div>
<div class="clearfix solution-brief solution2-brief">
    <h3>方案简介:</h3>
    <h3>统一标准 集中管理 多方共享</h3>
    <p>白山新型政务数据共享交换解决方案是基于数聚蜂巢平台，融合API经济思维、云计算、大数据、AI等先进技术，为政府行业提供数据采集、加工、共享、开放的“一站式”服务。针对目前政府行业信息系统孤立、数据分散的现状，以及建立各种政务数据共享交换平台、“互联网+政务服务“平台和应用的要求，通过数据采集、加工、共享、开放等功能，实现跨系统、跨部门、跨层级、跨地区的数据共享和开放。通过分布式集群的架构，保障政务数据共享交换的高性能、高可靠；通过API驱动的数据交换，实现平台的易用性、安全性。</p>
</div>
<div class="clearfix solution-architecture">
    <h3>方案架构:</h3>
    <img src="{{ site.baseurl }}/public/image/cln/solution-page2.png" alt="">
</div>
<div class="clearfix solution-scene solution2-scene">
    <h3>适用场景:</h3>
    <h4 class="h4-special">省、市、县共享交换平台</h4>
    <p><b>国发[2016] 55号 《政务信息资源共享管理办法》</b>，明确要求各省、市需建立各级共享交换节点，通过各交换节点进行各级政府的数据共享交换。</p>
    <p><b>国办发[2017] 39号 《政务信息系统整合共享实施方案》</b>，明确加快部门内部信息系统整合共享;推进接入统一数据共享交换平台，加快公共数据开放网站建设; 推进全国政务信息共享网站建设;开展政务信息资源目录编制;加快构建政务信 息共享标准体系。</p>
    <h4>互联网+政务服务平台</h4>
    <p><b>国发[2016] 51号 《“互联网+政务服务”指导意见》</b>，明确从优化再造政务服务、融合升级平台渠道、夯实支撑基础、加强组织保障等方面，对加快推进“互联网+政务服务”工作。</p>
    <p><b>国办函[2016] 108号 《“互联网+政务服务”技术体系建设指南》</b>，明确各省市网上政务服务平台，各厅局业务协同以及数据汇聚产生的数据交换共享和开放需求。</p>
</div>
    
    
    