<div class="clearfix cln-products-head mar-b-40-sm">
    <div class="cln-products-head-part">
        <div class="cln-baishan-logo">
            <img src="{{ site.baseurl }}/public/image/logo_black_cn.png" alt="baishan logo">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <img src="{{ site.baseurl }}/public/image/cln/cln-01.png">
        </div>
        <div class="col-xs-12 cln-products-head-tab col-sm-8 col-md-6">
            <span class="focus"><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x %}">数聚蜂巢</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-ATD %}">ATD</a></span>
            <span><a class="color-3" href="{{ site.baseurl}}{% post_url 2017-01-03-cln-x-API %}">API加速</a></span>
            <div class="white-triangle-1"></div>
        </div>
    </div>
</div>
<div class="solution-title-card solution4-title">
    <h3>数聚蜂巢</h3>
    <h4>企业数字化转型解决方案</h4>
</div>
<div class="clearfix solution-brief">
    <h3>方案简介:</h3>
    <h3>用API成就企业数字化转型</h3>
    <p>数字化转型（Digital Transformation，简称 DX）是指企业运用第三平台技术，包括云计算、大数据、社交和移动，通过新的产品和服务、新的业务模式和新的关系创造价值和竞争优势。新时代下，企业应对数字化转型的速度，以及创造数字化产品、服务和体验的能力，将决定其未来</p>
    <img src="{{ site.baseurl }}/public/image/cln/brief-page4.png" alt="">
</div>
<div class="clearfix solution-architecture">
    <h3>方案架构:</h3>
    <h3 class="h4-special">基于API的数字化开放重构</h3>
    <img src="{{ site.baseurl }}/public/image/cln/solution-page4.png" alt="">
    <p>随着API经济的兴起，业务流程和数据不再受困于应用内部，数据和应用“孤岛”问题也会因此得到有效改善，从而进一步帮助企业缩短创新周期、提高生产效率，最终获得新的业务增长、快速应对数字化转型。</p>
    <p>IDC预测，到2021年，超过一半的全球2000强企业，将用API开放生态系统完成其平均1/3的数字化服务交互，中国市场也将如此。</p>
</div>
<div class="clearfix solution-scene solution4-scene">
    <h3>适用场景:</h3>
    <h4 class="h4-special">解决IT转型中可能的“挑战”</h4>
    <img src="{{ site.baseurl }}/public/image/cln/screen-page4.png" alt="">
</div>
    
    
    