---
layout: default
title: 了解更多
---

{% include navbar.html %}
<div class="more-banner"></div>
<div class="about-more-tabs-bar"></div>
<div class="about-more-tabs">
    <ul class="nav nav-tabs" id="more-nav-tabs">
        <li class="active"><a href="#about-baishan" data-toggle="tab">关于白山</a></li>
        <li><a href="#join-baishan" data-toggle="tab">加入白山</a></li>
        <li><a href="#baishan-leaders" data-toggle="tab">白山领导力</a></li>
        <li><a href="#contact-us" data-toggle="tab">联系我们</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="about-baishan">
            {% include about-baishan.html %}
        </div>
        <div class="tab-pane fade" id="join-baishan">
            {% include join-baishan.html %}
        </div>
        <div class="tab-pane fade" id="baishan-leaders">
            {% include baishan-leaders.html %}
        </div>
        <div class="tab-pane fade" id="contact-us">
            {% include contact-us.html %}
        </div>
    </div>
</div>