<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body data-spy="scroll" data-offset="0" data-target="#scroll">

{{ content }}

{% include bottom.html %}
<div class="video-box" id="videoBox">
    <div class="video-sub-box">
        <div class="video-close">
            <input type="button" class="video-close-button" id="videoClose">
        </div>
        <video preload="auto" id="indexVideo" class="video-content" controls="controls" controlsList="nodownload"></video>
    </div>
</div>
<div class="video-box" id="videoBox100">
    <div class="video-sub-box">
        <div class="video-close">
            <input type="button" class="video-close-button" id="videoClose100">
        </div>
        <video preload="auto" id="indexVideo100" class="video-content" controls="controls" controlsList="nodownload"></video>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.4.4/shaka-player.compiled.js"></script>
<script src="{{ site.baseurl }}/public/js/DASH.js"></script>
<script src="{{ site.baseurl }}/public/js/jquery-2.2.4.js"></script>
<script src="{{ site.baseurl }}/public/js/TweenLite.min.js"></script>
<script src="{{ site.baseurl }}/public/js/EasePack.min.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/public/js/main.js"></script>
<script src="{{ site.baseurl }}/public/js/lightbox-plus-jquery.min.js"></script>
<script src="{{ site.baseurl }}/public/js/blocksit.min.js"></script>
<script src="{{ site.baseurl }}/public/js/smoothscroll.js"></script>
<script src="{{ site.baseurl }}/public/js/plugins.js"></script>
<script src="{{ site.baseurl }}/public/js/slider.js"></script>
<script src="{{ site.baseurl }}/public/js/job.js"></script>
</body>
</html>
