<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body data-spy="scroll" data-offset="0" data-target="#scroll">

{{ content }}

{% include bottom.html %}
<div class="video-box" id="videoBox">
    <div class="video-sub-box">
        <div class="video-close">
            <input type="button" class="video-close-button" id="videoClose">
        </div>
        <video id="indexVideo" class="video-content" controls="controls" controlsList="nodownload" src="https://video.baishancloud.com/video2017/%E4%BA%A7%E5%93%81%E7%89%87720.mov"></video>
    </div>
</div>
<div class="video-box" id="videoBox100">
    <div class="video-sub-box">
        <div class="video-close">
            <input type="button" class="video-close-button" id="videoClose100">
        </div>
        <video id="indexVideo100" class="video-content" controls="controls" controlsList="nodownload" src="https://video.baishancloud.com/video2017/720.mov"></video>
    </div>
</div>
<script src="{{ site.baseurl }}/dist/{{ site.data.hash-name.jsHash }}"></script>
<script src="{{ site.baseurl }}/public/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
