<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

{% include sidebar.html %}

    <div class="container my-container">
        {% include post-head.html %}
    <div class="post">
       
        <img class="logo visible-xs" src="{{ site.baseurl }}public/image/logo_black.png" height="32px">
        <div class="post-content">
            <div class="col-sm-8">
                <div class="news-content">
                    {{ content }}
                </div>
            </div>
            {% include news-relatedReading.html %}
            <div class="clean"></div>
        </div>
    </div>

    {% include bottom.html %}

</div>

<script src="{{ site.baseurl }}public/js/jquery-2.2.4.js"></script>
<script src="{{ site.baseurl }}public/js/main.js"></script>
<script src="{{ site.baseurl }}public/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}public/js/lightbox-plus-jquery.min.js"></script>
<script src="{{ site.baseurl }}public/js/blocksit.min.js"></script>
<script src="{{ site.baseurl }}public/js/slider.js"></script>
</body>
</html>
