<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<div class="news-banner">
    <div class="news-banner-info">
        <h1>新闻动态</h1>
        <p>创新的云分发，指数级提升内容分发性能与服务效率。应用内容更新、大文件同步、视频点播直播和网络负载均衡四大技术均取得速度和稳定性突破；松耦合架构为客户提供全透明和定制化的服务，满足客户多样性需求。</p>
    </div>
</div>
<div class="container my-container">

    <div class="post">
        <img class="logo visible-xs" src="{{ site.baseurl }}/public/image/logo_black.png" height="32px">
        <div class="post-content">
            <div class="col-sm-8">
                <div class="news-content">
                    {{ content }}
                </div>
            </div>
            {% include news-relatedReading.html %}
            <div class="clean"></div>
        </div>
    </div>

    {% include bottom.html %}

</div>

<script src="{{ site.baseurl }}/public/js/jquery-2.2.4.js"></script>
<script src="{{ site.baseurl }}/public/js/main.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/public/js/lightbox-plus-jquery.min.js"></script>
<script src="{{ site.baseurl }}/public/js/blocksit.min.js"></script>
<script src="{{ site.baseurl }}/public/js/slider.js"></script>
</body>
</html>
